<div class="jumbotron center">
<h1>Welcome Breaux Family!</h1>
	<% if user_signed_in? %>
          Logged in Content goes here.
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg" %>
         
       </p>
  <% end %>  
</div>